In [2]:
import pandas as pd

# üìå Extrac√£o

In [3]:
url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science/main/TelecomX_Data.json'
df = pd.read_json(url)

In [4]:
def get_customer(df):
    gender = df['gender']
    SeniorCitizen = df['SeniorCitizen']
    Partner = df['Partner']
    Dependents = df['Dependents']
    tenure = df['tenure']

    dados  = {'gender':gender,
              'SeniorCitizen':SeniorCitizen,
              'Partner':Partner,
              'Dependents':Dependents,
              'tenure':tenure}

    return dados

In [5]:
gender = []
SeniorCitizen = []
Partner = []
Dependents = []
tenure = []

for i in range(len(df)):
   gender.append(df['customer'][i]['gender'])
   SeniorCitizen.append(df['customer'][i]['SeniorCitizen'])
   Partner.append(df['customer'][i]['Partner'])
   Dependents.append(df['customer'][i]['Dependents'])
   tenure.append(df['customer'][i]['tenure'])

customer  = {'gender':gender,
          'SeniorCitizen':SeniorCitizen,
          'Partner':Partner,
          'Dependents':Dependents,
          'tenure':tenure
          }

customer = pd.DataFrame(customer)

In [6]:
PhoneService = []
MultipleLines = []

for i in range(len(df)):
   PhoneService.append(df['phone'][i]['PhoneService'])
   MultipleLines.append(df['phone'][i]['MultipleLines'])

phone = {
   'PhoneService':PhoneService,
   'MultipleLines':MultipleLines   
}

phone = pd.DataFrame(phone)

In [7]:
InternetService = []
OnlineSecurity = []
OnlineBackup = []
DeviceProtection = []
TechSupport = []
StreamingTV = []
StreamingMovies = []

for i in range(len(df)):
   InternetService.append(df['internet'][i]['InternetService'])
   OnlineSecurity.append(df['internet'][i]['OnlineSecurity'])
   OnlineBackup.append(df['internet'][i]['OnlineBackup'])
   DeviceProtection.append(df['internet'][i]['DeviceProtection'])
   TechSupport.append(df['internet'][i]['TechSupport'])
   StreamingTV.append(df['internet'][i]['StreamingTV'])
   StreamingMovies.append(df['internet'][i]['StreamingMovies'])

internet = {
   'InternetService':InternetService,
   'OnlineSecurity':OnlineSecurity,
   'OnlineBackup':OnlineBackup,
   'DeviceProtection': DeviceProtection,
   'TechSupport':TechSupport,
   'StreamingTV':StreamingTV,
   'StreamingMovies':StreamingMovies
}

internet = pd.DataFrame(internet)

In [8]:
Contract = []
PaperlessBilling = []
PaymentMethod = []
Charges_Monthly = []
Charges_Total = []

for i in range(len(df)):
   Contract.append(df['account'][i]['Contract'])
   PaperlessBilling.append(df['account'][i]['PaperlessBilling'])
   PaymentMethod.append(df['account'][i]['PaymentMethod'])
   Charges_Monthly.append(df['account'][i]['Charges']['Monthly'])
   Charges_Total.append(df['account'][i]['Charges']['Total'])

account = {
   'Contract':Contract,
   'PaperlessBilling':PaperlessBilling,
   'PaymentMethod':PaymentMethod,
   'Charges_Monthly':Charges_Monthly,
   'Charges_Total':Charges_Total
}

account = pd.DataFrame(account)

In [9]:
df['account'][1700]['Charges']

{'Monthly': 110.15, 'Total': '6448.05'}

In [10]:
df_tratada = pd.concat([df,customer,phone,internet,account], axis=1)

In [11]:
df_tratada = df_tratada.drop(columns=['customer','phone','internet','account'])
print(df_tratada)

      customerID Churn  gender  SeniorCitizen Partner Dependents  tenure  \
0     0002-ORFBO    No  Female              0     Yes        Yes       9
1     0003-MKNFE    No    Male              0      No         No       9
2     0004-TLHLJ   Yes    Male              0      No         No       4
3     0011-IGKFF   Yes    Male              1     Yes         No      13
4     0013-EXCHZ   Yes  Female              1     Yes         No       3
...          ...   ...     ...            ...     ...        ...     ...
7262  9987-LUTYD    No  Female              0      No         No      13
7263  9992-RRAMN   Yes    Male              0     Yes         No      22
7264  9992-UJOEL    No    Male              0      No         No       2
7265  9993-LHIEB    No    Male              0     Yes        Yes      67
7266  9995-HOTOH    No    Male              0     Yes        Yes      63

     PhoneService     MultipleLines InternetService  ... OnlineBackup  \
0             Yes                No             DSL  ...          Yes
1             Yes               Yes             DSL  ...           No
2             Yes                No     Fiber optic  ...           No
3             Yes                No     Fiber optic  ...          Yes
4             Yes                No     Fiber optic  ...           No
...           ...               ...             ...  ...          ...
7262          Yes                No             DSL  ...           No
7263          Yes               Yes     Fiber optic  ...           No
7264          Yes                No             DSL  ...          Yes
7265          Yes                No             DSL  ...           No
7266           No  No phone service             DSL  ...          Yes

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0                  No         Yes         Yes              No        One year
1                  No          No          No             Yes  Month-to-month
2                 Yes          No          No              No  Month-to-month
3                 Yes          No         Yes             Yes  Month-to-month
4                  No         Yes         Yes              No  Month-to-month
...               ...         ...         ...             ...             ...
7262               No         Yes          No              No        One year
7263               No          No          No             Yes  Month-to-month
7264               No          No          No              No  Month-to-month
7265              Yes         Yes          No             Yes        Two year
7266              Yes          No         Yes             Yes        Two year

     PaperlessBilling     PaymentMethod Charges_Monthly  Charges_Total
0                 Yes      Mailed check           65.60          593.3
1                  No      Mailed check           59.90          542.4
2                 Yes  Electronic check           73.90         280.85
3                 Yes  Electronic check           98.00        1237.85
4                 Yes      Mailed check           83.90          267.4
...               ...               ...             ...            ...
7262               No      Mailed check           55.15          742.9
7263              Yes  Electronic check           85.10         1873.7
7264              Yes      Mailed check           50.30          92.75
7265               No      Mailed check           67.85        4627.65
7266               No  Electronic check           59.00         3707.6

[7267 rows x 21 columns]

In [12]:
df_tratada.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

# Analise exploratoria

In [14]:
df = df_tratada

Antes de qualquer coisa, √© fundamental verificar os tipos de dados de cada coluna e a presen√ßa de valores ausentes (null). O m√©todo .info() √© perfeito para isso.

In [16]:
print("\nInforma√ß√µes do DataFrame:")
print(df.info())

Informa√ß√µes do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges_Monthly   7267 non-null   float64
 20  Charges_Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB
None

In [17]:
# Substituindo valores nulos na coluna 'Charges_Total' por 0
df['Charges_Total'] = pd.to_numeric(df['Charges_Total'], errors='coerce').fillna(0)

# Verificando a estat√≠stica descritiva das colunas num√©ricas
print("\nEstat√≠sticas descritivas das colunas num√©ricas:")
print(df[['tenure', 'Charges_Monthly', 'Charges_Total']].describe())

Estat√≠sticas descritivas das colunas num√©ricas:
            tenure  Charges_Monthly  Charges_Total
count  7267.000000      7267.000000    7267.000000
mean     32.346498        64.720098    2277.182035
std      24.571773        30.129572    2268.648587
min       0.000000        18.250000       0.000000
25%       9.000000        35.425000     396.200000
50%      29.000000        70.300000    1389.200000
75%      55.000000        89.875000    3778.525000
max      72.000000       118.750000    8684.800000

Principais pontos:

A perman√™ncia m√©dia (tenure) dos clientes √© de 32 meses.

A m√©dia de cobran√ßa mensal (Charges_Monthly) √© de 64.76, enquanto a m√©dia de cobran√ßa total (Charges_Total) √© de 2279.73.

In [18]:
churn_count = df['Churn'].value_counts(normalize=True) * 100

print("\nPorcentagem de clientes que sa√≠ram (Churn) e que ficaram:")
print(churn_count)

Porcentagem de clientes que sa√≠ram (Churn) e que ficaram:
Churn
No     71.198569
Yes    25.719004
        3.082427
Name: proportion, dtype: float64

Cerca de 73% dos clientes n√£o sa√≠ram, mas a taxa de churn de 26.5% √© significativamente alta, o que indica um problema de reten√ß√£o.

In [19]:
# M√©dia de perman√™ncia para clientes que sa√≠ram e que ficaram
tenure_por_churn = df.groupby('Churn')['tenure'].mean()

print("\nM√©dia de perman√™ncia (tenure) por categoria de Churn:")
print(tenure_por_churn)

M√©dia de perman√™ncia (tenure) por categoria de Churn:
Churn
       31.571429
No     37.569965
Yes    17.979133
Name: tenure, dtype: float64

Os clientes que sa√≠ram (Yes) tinham uma m√©dia de perman√™ncia de apenas 18 meses, enquanto os que ficaram (No) tinham uma m√©dia de 37 meses. Clientes mais antigos t√™m uma chance muito menor de sair.

In [20]:
# M√©dia de cobran√ßa mensal para clientes que sa√≠ram e que ficaram
charges_por_churn = df.groupby('Churn')['Charges_Monthly'].mean()

print("\nM√©dia de cobran√ßa mensal por categoria de Churn:")
print(charges_por_churn)

M√©dia de cobran√ßa mensal por categoria de Churn:
Churn
       63.412277
No     61.265124
Yes    74.441332
Name: Charges_Monthly, dtype: float64

os clientes que sa√≠ram (Yes) pagavam uma m√©dia de $74 por m√™s, enquanto os que ficaram (No) pagavam $61. Isso pode indicar que clientes com servi√ßos mais caros (como fibra √≥ptica) s√£o mais propensos a abandonar o servi√ßo.

# Insights

- O dataset tem 7043 clientes, com a maioria n√£o abandonando o servi√ßo, mas uma taxa de churn consider√°vel.

- A coluna Charges_Total precisou ser limpa, pois continha valores n√£o num√©ricos.

- Existe uma forte rela√ß√£o entre a perman√™ncia do cliente e o churn: clientes mais novos (com menos meses de servi√ßo) s√£o mais propensos a sair.

- H√° uma aparente rela√ß√£o entre cobran√ßas mensais mais altas e o churn, sugerindo que servi√ßos mais caros podem estar insatisfat√≥rios para os clientes.